@model ECommerceSite.Models.OrderModel

@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome User !</h2>

<th></th>

<table class="table table-bordered" border="1">
    @foreach (var item in Model.products)
    {
        <tr>
            <td>@item.ID</td><td>@item.Name</td><td>@item.Price</td><td>@Html.ActionLink("Add to cart", "AddToCart", "Home")</td>
        </tr>
    }

    </table>
